.btn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1001;

  width: 60px;
  height: 60px;

  background: transparent;
  color: var(--text-main);
  border: none;
  border-radius: 50%;

  font-size: 30px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition:
    background-color var(--transition-fast),
    transform var(--transition-fast);
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transform: scale(1.08);
}

.nav_menu {
  position: fixed;
  inset: 0;

  background: var(--bg-main);
  box-shadow: -4px 0 20px rgba(0, 0, 0, 0.6);

  transform: translateX(100%);
  transition: transform var(--transition-normal);

  z-index: 1000;
}

.nav_menu.open {
  transform: translateX(0);
}

.nav_list {
  list-style: none;
  margin: 0;
  padding: 0;

  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 30px;
}
.nav_list li {
  transition:
    color var(--transition-fast),
    transform var(--transition-fast);

}

.nav_list li:hover {
  color: var(--primary);
  transform: scale(1.1);
}

.nav_list a {
  color: var(--text-main);
  text-decoration: none;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 0.5px;

}

.nav_list a:hover {
  color: var(--primary);
  transform: scale(1.15);
}

