<section class="contact-section">
  <div class="contact-container">

    <h1 class="contact-title">Contato</h1>
    <p class="contact-subtitle">
      Tem uma ideia, projeto ou oportunidade? Vamos conversar.
    </p>

    <div class="contact-content">

      <div class="contact-info card-hover">
        <h2>Fale comigo</h2>
        <p>
          Estou sempre aberto a novos desafios, freelas ou oportunidades
          como desenvolvedor.
        </p>

        <div class="contact-mini-cards">
          <a href="mailto:witalodias1@gmail.com" class="mini-card">
            <i class="fa-solid fa-envelope"></i>
            <span>Email</span>
          </a>

          <a href="https://www.linkedin.com/in/witalo-dias-775a59289/" target="_blank" class="mini-card">
            <i class="fa-brands fa-linkedin"></i>
            <span>LinkedIn</span>
          </a>

          <a href="https://github.com/witaloxz" target="_blank" class="mini-card">
            <i class="fa-brands fa-github"></i>
            <span>GitHub</span>
          </a>
        </div>
      </div>

    
      <form class="contact-form">
        <input type="text" placeholder="Seu nome" required />
        <input type="email" placeholder="Seu email" required />
        <textarea placeholder="Sua mensagem" rows="5" required></textarea>

        <button type="submit">
          <i class="fa-solid fa-paper-plane"></i>
          Enviar mensagem
        </button>
      </form>

    </div>

    <div class="contact-bottom">

      <div class="contact-extra card-hover">
        <h3>Currículo</h3>
        <p>Baixe meu currículo completo em PDF.</p>
        <a href="#" class="btn-secondary">
          <i class="fa-solid fa-download"></i>
          Baixar CV
        </a>
      </div>

      <div class="contact-extra card-hover">
        <h3>
          <span class="status-dot"></span>
          Disponível para projetos
        </h3>
        <p>
          Aberto a freelas e propostas de emprego.
        </p>
      </div>

    </div>

  </div>
</section>

<app-footer></app-footer>