:root {
  --bg-main: #0b0f14;
  --bg-card: rgba(255, 255, 255, 0.04);

  --primary: #3498db;
  --primary-soft: rgba(52, 152, 219, 0.08);

  --text-main: #ffffff;
  --text-muted: rgba(255, 255, 255, 0.85);

  --radius-sm: 12px;
  --radius-md: 16px;
  --radius-lg: 24px;

  --transition-fast: 0.25s ease;
  --transition-normal: 0.3s ease;
}

* {
  font-family: 'Poppins', sans-serif;

}

html,
body {
  height: 100%;
  margin: 0;
  background: var(--bg-main)
}

app-root {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.toast-container .ngx-toastr {
  border-radius: var(--radius-md);
  padding: 16px 18px;
  font-family: 'Poppins', system-ui, sans-serif;

  background: var(--bg-card) !important;
  color: var(--text-main) !important;

  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.45);
  border-left: 6px solid var(--primary);

  backdrop-filter: blur(10px);
}


.toast-title {
  font-weight: 600;
  letter-spacing: 0.3px;
}

.toast-message {
  opacity: 0.88;
  line-height: 1.4;
}

.toast-close-button {
  color: var(--text-main) !important;
  opacity: 0.5;
  transition: opacity var(--transition-fast);
}

.toast-close-button:hover {
  opacity: 1;
}

.toast-container .ngx-toastr {
  animation: toastFadeIn 0.4s ease;
}

@keyframes toastFadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}