<section class="projects-section">
  <div class="projects-container">

    <h1 class="projects-title">Meus Projetos</h1>
    <p class="projects-subtitle">
      Alguns projetos que desenvolvi utilizando tecnologias modernas.
    </p>

    <div class="projects-grid">

      
      <article class="project-card">

        <div class="project-image">
          <img src="imgs/moveIt.png" alt="Projeto">
        </div>

        <div class="project-content">
          <h2 class="project-title">MoveIt</h2>

          <p class="project-description">
            Sistema de login completo com frontend simples e backend em Spring Boot. Prática de conceitos full-stack.
          </p>

          <div class="project-techs">
            <span> <img src="imgs/tech-icons/spring.svg" alt="">SpringBoot</span>
            <span> <img src="imgs/tech-icons/angular.svg" alt="">Angular</span>
            <span> <img src="imgs/tech-icons/typescript.svg" alt="">TypeScript</span>
          </div>

          <div class="project-actions">
            <a href="#" class="project-link">
              <i class="fa-solid fa-arrow-up-right-from-square"></i> Demo
            </a>

            <a target="_blank" href="https://github.com/witaloxz/moveIt" class="project-link">
              <i class="fa-brands fa-github"></i> Código
            </a>

            <a href="#" class="project-btn">
              Detalhes <i class="fa-solid fa-arrow-right"></i>
            </a>
          </div>
        </div>

      </article>

      <article class="project-card">

        <div class="project-image">
          <img src="imgs/gravata.png" alt="Projeto">
        </div>

        <div class="project-content">
          <h2 class="project-title">Nome do Projeto</h2>

          <p class="project-description">
            Aplicação moderna focada em performance, design e boas práticas.
          </p>

          <div class="project-techs">
            <span>Angular</span>
            <span>TypeScript</span>
            <span>Node.js</span>
            <span>API</span>
          </div>

          <div class="project-actions">
            <a href="#" class="project-link">
              <i class="fa-solid fa-arrow-up-right-from-square"></i> Demo
            </a>

            <a href="#" class="project-link">
              <i class="fa-brands fa-github"></i> Código
            </a>

            <a href="#" class="project-btn">
              Detalhes <i class="fa-solid fa-arrow-right"></i>
            </a>
          </div>
        </div>

      </article>

      <article class="project-card">

        <div class="project-image">
          <img src="imgs/gravata.png" alt="Projeto">
        </div>

        <div class="project-content">
          <h2 class="project-title">Nome do Projeto</h2>

          <p class="project-description">
            Aplicação moderna focada em performance, design e boas práticas.
          </p>

          <div class="project-techs">
            <span>Angular</span>
            <span>TypeScript</span>
            <span>Node.js</span>
            <span>API</span>
          </div>

          <div class="project-actions">
            <a href="#" class="project-link">
              <i class="fa-solid fa-arrow-up-right-from-square"></i> Demo
            </a>

            <a href="#" class="project-link">
              <i class="fa-brands fa-github"></i> Código
            </a>

            <a href="#" class="project-btn">
              Detalhes <i class="fa-solid fa-arrow-right"></i>
            </a>
          </div>
        </div>

      </article>

      <article class="project-card">

        <div class="project-image">
          <img src="imgs/gravata.png" alt="Projeto">
        </div>

        <div class="project-content">
          <h2 class="project-title">Nome do Projeto</h2>

          <p class="project-description">
            Aplicação moderna focada em performance, design e boas práticas.
          </p>

          <div class="project-techs">
            <span>Angular</span>
            <span>TypeScript</span>
            <span>Node.js</span>
            <span>API</span>
          </div>

          <div class="project-actions">
            <a href="#" class="project-link">
              <i class="fa-solid fa-arrow-up-right-from-square"></i> Demo
            </a>

            <a href="#" class="project-link">
              <i class="fa-brands fa-github"></i> Código
            </a>

            <a href="#" class="project-btn">
              Detalhes <i class="fa-solid fa-arrow-right"></i>
            </a>
          </div>
        </div>

      </article>

    </div>
  </div>
</section>
<app-footer></app-footer>